</section>
<footer class="container-fluid">
    <div class="col-md-8">
        <h5>Idealização</h5>
        <p>
            <img src="/images/idealizacao_tem_local.png" width="200" alt="Tem Local?" title="Tem Local?">
            <img src="/images/idealizacao_dragse.png" width="200" alt="Drag-se" title="Drag-se">
        </p>

        <h4>Contribuição</h4>
        <p>
            <img src="/images/contribuicao_vinteeum.png" width="150" alt="" title="">
            <img src="/images/contribuicao_suma.png" width="150"  alt="" title="">
            <img src="/images/contribuicao_jamboo.png" width="150"  alt="" title="">
            <img src="/images/contribuicao_eden.png"  width="150" alt="" title="">
            <img src="/images/contribuicao_vdeviadao.png"  width="150" alt="" title="">
            <img src="/images/contribuicao_mulheresrodadas.png" width="150" alt="" title="">
            <img src="/images/contribuicao_isorporzinho.png" width="150" alt="" title="">
            <img src="/images/contribuicao_velcro.png"  width="150" alt="" title="">
            <img src="/images/contribuicao_fabulosa.png" width="150" alt="" title="">
            <img src="/images/contribuicao_viemosdoegyto.png" width="150" alt="" title="">
        </p>

        <h4>Apoio</h4>
        <p>
            <img src="/images/apoio_afeminadas.png" width="100" alt="" title="">
            <img src="/images/apoio_entendidod.png" width="100" alt="" title="">
            <img src="/images/apoio_especialcopy.png" width="100" alt="" title="">
            <img src="/images/apoio_gataria.png" width="100" alt="" title="">
            <img src="/images/apoio_ibrat.png" width="100" alt="" title="">
            <img src="/images/apoio_pelavidda.png" width="100" alt="" title="">
            <img src="/images/apoio_posto9.png" width="100" alt="" title="">
            <img src="/images/apoio_prepara.png" width="100" alt="" title="">
            <img src="/images/apoio_ravena.png" width="100" alt="" title="">
            <img src="/images/apoio_sapataodamoda.png" width="100" alt="" title="">
            <img src="/images/apoio_transrevolucao.png" width="100" alt="" title="">
        </p>
    </div>
    <div class="col-md-4">
        <h5>Facebook</h5>
        <div class="fb-page" data-href="https://www.facebook.com/brilhodacidade"
             data-small-header="false" data-adapt-container-width="true"
             data-hide-cover="false" data-show-facepile="true" -show-posts="false">
             <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/brilhodacidade">
                    <a href="https://www.facebook.com/brilhodacidade">Brilho da Cidade</a>
                </blockquote>
             </div>
        </div>

        <h5>Twitter</h5>
        <a class="twitter-timeline"
           data-widget-id="600720083413962752"
           href="https://twitter.com/BrilhoRJ"
           data-screen-name="BrilhoRJ"
           height="300">
            Tweets by @BrilhoRJ
        </a>
    </div>
</footer>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '469963126516235',
            xfbml      : true,
            version    : 'v2.5'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
</body>
</html>