<!doctype html>
<html>
<head>
    <title>Brilho da Cidade 2015/2016</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/stylesheets/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/libs/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/libs/sweetalert.css">
    <link rel="stylesheet" href="/stylesheets/libs/jquery.jscrollpane.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style.mobile.css">

    <script src="/javascripts/libs/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/libs/jquery.jscrollpane.min.js"></script>
    <script src="/javascripts/libs/sweetalert.min.js"></script>
    <script src="/javascripts/libs/jquery.mousewheel.js"></script>
    <script src="/javascripts/libs/jquery.jscrollpane.min.js"></script>
    <script src="/javascripts/libs/parallax.min.js"></script>
    <script src="/javascripts/libs/http.js"></script>
    <script src="/javascripts/app.js"></script>

</head>
<body>
<header>
    <a href="/" class="logo">
        <img src="/images/brilho_logo_peq.png" alt="Brilho da Cidade" title="Brilho da Cidade" />
        Brilho da Cidade 2015/2016
    </a>
    <nav>
        <a href="javascript:;" area="principal" class="smoothScroll">Principal</a>
        <a href="javascript:;" area="sobre" class="smoothScroll">Sobre</a>
        <a href="javascript:;" area="curadores" class="smoothScroll">Equipe</a>
        <a href="javascript:;" area="apoio" class="smoothScroll">Como apoiar</a>
        <a href="javascript:;" area="contato" class="smoothScroll">Contato</a>
    </nav>
</header>
<section id="body">