<% include shared/header %>

<section id="principal" class="container-fluid">
    <div class="col-md-5 logo-tipografia">
        <img src="/Images/brilho_tipografia.png" width="400" />
    </div>
    <div class="col-md-7">
        <div class="texto-divulgacao col-md-12">
            <h1>Rio de Janeiro, ano de 2015.</h1>
            <p>
                Se esse ano o verão promete ser o mais quente dos últimos tempos, com
                certeza vamos fazer dele o mais <b>BRILHANTE</b>!
            </p>
            <p>
                O <b>Brilho da Cidade</b> é uma agenda da programação carioca carioca construída e
                direcionada ao público LGBT ao público LGBT.
            </p>
            <p>
                O propósito é promover eventos, festas, locais e atividades que sejam feitos por e para a população
                lésbica, gay, bissexual, travesti, transexual e quem mais quiser vir. A nossa agenda convida para
                colaborar produtores, coletivos, ong’s e parceiros que possam contribuir com a causa para dar ainda
                mais força à diversidade da cidade maravilhosa.
            </p>
        </div>
        <div class="registrar-email col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" id="newsletter_email" name="email" class="form-control" placeholder="Informe o seu e-mail...">
                </div>
                <button type="button" class="btn btn-primary cadastrarEmail">
                    <i class="fa fa-envelope"></i>&nbsp;
                    Fique sabendo primeiro ;)
                </button>
            </form>
        </div>
    </div>
</section>

<section id="botao-apoio" class="content">
    <h1>
        Não sabe o que fazer nesse verão?
        <i class="fa fa-sun-o"></i>
        <i class="fa fa-calendar"></i>
        <i class="fa fa-thumbs-o-up"></i>
    </h1>
    <button area="apoio" class="btn btn-primary smoothScroll">APOIE O BRILHO DA CIDADE</button>
</section>

<section id="sobre"  class="container-fluid">
    <h3 class="titulo">F.A.Q.</h3>
    <div class="col-md-4 categorias-lista">
        <div>
            <h5 class="cor-festas">Festas</h5>
            <h5 class="cor-bares">Bares</h5>
            <h5 class="cor-boates">Boates</h5>
            <h5 class="cor-musica">Música</h5>
            <h5 class="cor-teatro">Teatros</h5>
            <h5 class="cor-museus">Museus</h5>
            <h5 class="cor-cinema">Cinema</h5>
            <h5 class="cor-ocupacoes">Ocupações</h5>
            <h5 class="cor-esportes">Esportes</h5>
            <h5 class="cor-carnaval">Carnaval</h5>
        </div>
    </div>
    <div class="col-md-8">
        <div class="sobre-navegacao">
            <a href="javascript:;" parte="1" class="ativo">O que é?</a>
            <a href="javascript:;" parte="2">Como será feito?</a>
            <a href="javascript:;" parte="3">O que eu ganho?</a>
        </div>
        <div class="texto-sobre">
            <div class="sobre-pagina" parte="1">
                <p>
                    O <b>Brilho da Cidade</b> é muito mais do que apenas uma agenda!
                </p>
                <p style="margin-top: 30px;">
                    Temos a necessidade de mostrar para os cariocas e seus turistas  uma agenda com toda a riqueza
                    de eventos que só uma cidade cosmopolita como o Rio poderia agregar. Dividido em categorias que vão
                    de festas, cultura, carnaval, esporte e ocupações o Brilho da Cidade se propõe a fazer a um retrato
                    da programação cultural saindo do foco turístico tradicional e do eixo centro-zona sul, incluindo
                    principalmente as favelas.
                </p>
            </div>
            <div class="sobre-pagina" parte="2" style="display:none">
                <p>
                    A curadoria será feita por lésbicas, gays, bissexuais, travestis, transexuais e outras pessoas que
                    se preocuparão além de indicar eventos e ambientes considerados para o público LGBT ou amigáveis,
                    escreverão materiais sobre o dia-a-dia do nosso verão.
                </p>
                <p style="margin-top: 30px;">
                    A agenda terá além do site, uma edição física, com um acesso a maior parte do conteúdo online de
                    forma fácil e dinâmica para categorizar os evento.
                </p>
            </div>
            <div class="sobre-pagina" parte="3" style="display:none">
                <p>
                    Dentro da agenda os nossos usuários contarão com facilidades como descontos ou gratuidades
                    em certas atividades (comunicadas pelo próprio organizador).
                </p>
                <p style="margin-top: 30px;">
                    Além disso, a equipe de organização da agenda criará de eventos próprios, tais como ocupações,
                    cine clubes, bazares e feiras. Para que juntos fomentemos e divulgaremos mais projetos que a cidade produz.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="botao-apoio" class="content">
    <h1>
        Conheça melhor a sua cidade, venha brilhar com a gente!
        <i class="fa fa-heart"></i>
        <i class="fa fa-diamond"></i>
        <i class="fa fa-comments-o"></i>
    </h1>
    <button area="apoio" class="btn btn-primary smoothScroll">APOIE O BRILHO DA CIDADE</button>
</section>

<section id="curadores" class="container-fluid">
    <h3 class="titulo">Equipe</h3>
    <div class="lista-equipe">
        <div class="col-md-4">
            <figure class="about-us">
                <img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
                <figcaption>
                    <h4>Indianara Siqueira</h4>
                    <p>Curadora da categoria Museus</p>
                    <p class="bio">Puta, transfeminista, do TransRevolução, Prepara Nem, Pela Vidda-RJ e MDV-RJ. Na CUltura já tem viado e sapatão e vai ter Travesti também!</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="about-us">
                <img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
                <figcaption>
                    <h4>Indianara Siqueira</h4>
                    <p>Curadora da categoria Museus</p>
                    <p class="bio">Puta, transfeminista, do TransRevolução, Prepara Nem, Pela Vidda-RJ e MDV-RJ. Na CUltura já tem viado e sapatão e vai ter Travesti também!</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="about-us">
                <img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
                <figcaption>
                    <h4>Indianara Siqueira</h4>
                    <p>Curadora da categoria Museus</p>
                    <p class="bio">Puta, transfeminista, do TransRevolução, Prepara Nem, Pela Vidda-RJ e MDV-RJ. Na CUltura já tem viado e sapatão e vai ter Travesti também!</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="about-us">
                <img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
                <figcaption>
                    <h4>Indianara Siqueira</h4>
                    <p>Curadora da categoria Museus</p>
                    <p class="bio">Puta, transfeminista, do TransRevolução, Prepara Nem, Pela Vidda-RJ e MDV-RJ. Na CUltura já tem viado e sapatão e vai ter Travesti também!</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="about-us">
                <img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
                <figcaption>
                    <h4>Indianara Siqueira</h4>
                    <p>Curadora da categoria Museus</p>
                    <p class="bio">Puta, transfeminista, do TransRevolução, Prepara Nem, Pela Vidda-RJ e MDV-RJ. Na CUltura já tem viado e sapatão e vai ter Travesti também!</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="about-us">
                <img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
                <figcaption>
                    <h4>Indianara Siqueira</h4>
                    <p>Curadora da categoria Museus</p>
                    <p class="bio">Puta, transfeminista, do TransRevolução, Prepara Nem, Pela Vidda-RJ e MDV-RJ. Na CUltura já tem viado e sapatão e vai ter Travesti também!</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="about-us">
                <img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
                <figcaption>
                    <h4>Indianara Siqueira</h4>
                    <p>Curadora da categoria Museus</p>
                    <p class="bio">Puta, transfeminista, do TransRevolução, Prepara Nem, Pela Vidda-RJ e MDV-RJ. Na CUltura já tem viado e sapatão e vai ter Travesti também!</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="about-us">
                <img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
                <figcaption>
                    <h4>Indianara Siqueira</h4>
                    <p>Curadora da categoria Museus</p>
                    <p class="bio">Puta, transfeminista, do TransRevolução, Prepara Nem, Pela Vidda-RJ e MDV-RJ. Na CUltura já tem viado e sapatão e vai ter Travesti também!</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="about-us">
                <img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt="">
                <figcaption>
                    <h4>Indianara Siqueira</h4>
                    <p>Curadora da categoria Museus</p>
                    <p class="bio">Puta, transfeminista, do TransRevolução, Prepara Nem, Pela Vidda-RJ e MDV-RJ. Na CUltura já tem viado e sapatão e vai ter Travesti também!</p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>

<section id="apoio" class="container-fluid">
    <h3 class="titulo">Ajude a fazer o projeto acontecer!</h3>
    <div class="col-md-12">
        <p>
            O <b>Brilho da Cidade</b> é um projeto criado por pessoas LGBT's e simpatizantes que moram na cidade do Rio
            de Janeiro e região metropolitana e querem fazer a diferença, dando visibilidade a projetos que tornam a cidade
            mais brilhante e mais aceitavel.
        </p>
        <p style="font-size: 22px; text-transform: uppercase;">
            Você pode ajudar e ainda ganhar com isso :)
        </p>
        <p style="margin-bottom: 25px;">
            Veja como você pode ajudar e dependendo do que você quiser, voce pode ganhar brindes incriveis!
        </p>
    </div>
    <div class="col-md-12">
        <div class="item-apoio col-md-3">
            <h2>APOIO INICIANTE</h2>
            <h5>Sem Recompensas</h5>
            <ul>
                <li></li>
            </ul>
            <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
            <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input type="hidden" name="code" value="1203CEE68989437AA41CBFBB1C38AB15" />
                <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/205x30-pagar-azul.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
            </form>
            <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
            <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
        <div class="item-apoio col-md-3">
            <h2>APOIO BÁSICO</h2>
            <h5>Recompensas</h5>
            <ul>
                <li>Você vi receber uma cópia da agenda na sua casa!</li>
            </ul>
            <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
            <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input type="hidden" name="code" value="BE325449D9D9B87AA48DBF82EAE8BF8A" />
                <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/205x30-pagar-azul.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
            </form>
            <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
            <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
        <div class="item-apoio col-md-3">
            <h2>APOIO COMPLETO</h2>
            <h5>Recompensas</h5>
            <ul>
                <li>Uma cópia da agenda na sua casa!</li>
                <li>Um adesivo do brilho da cidade</li>
            </ul>
            <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
            <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input type="hidden" name="code" value="E6457823D5D5C4DBB4C29FA4010F110B" />
                <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/205x30-pagar-azul.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
            </form>
            <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
            <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
        <div class="item-apoio col-md-3">
            <h2>APOIO AVANÇADO</h2>
            <h5>Recompensas</h5>
            <ul>
                <li>Uma cópia da agenda na sua casa!</li>
                <li>Um adesivo do brilho da cidade</li>
                <li>Um prêmio surpresa!</li>
            </ul>
            <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
            <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input type="hidden" name="code" value="83707FA9C3C34EACC4192F8817633A12" />
                <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/205x30-pagar-azul.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
            </form>
            <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
            <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </div>
    </div>
</section>

<section id="contato"  class="container-fluid">
    <h3 class="titulo">Entre em contato</h3>
    <div class="col-md-6 formulario-contato">
        <form class="form">
            <div class="form-group">
                <input type="text" id="contato_nome" name="nome" class="form-control" placeholder="Nome completo">
            </div>
            <div class="form-group">
                <input type="email"  id="contato_email" name="email" class="form-control" placeholder="E-mail de contato">
            </div>
            <div class="form-group">
                <textarea id="contato_mensagem" name="mensagem" class="form-control" placeholder="Mensagem"></textarea>
            </div>
            <button type="button" class="btn btn-success enviarMensagem">
                <i class="fa fa-envelope"></i>&nbsp;
                Enviar
            </button>
        </form>
    </div>
</section>

<% include shared/footer %>