@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/GOTHIC.TTF');
}

body { background: url('/images/background_grande.png'); color: #333; font-size: 1.125em; /* font-size: 18px; */ font-family: Helvetica, Arial; line-height: 1.8; margin: 0; max-height: 0; }
h1, h2, h3, h4, h5, h6 { font-family: 'Century Gothic', Helvetica, Arial; line-height: 1.34; text-rendering: auto; }

/******* Cores Categorias *******/
.cor-festas { color: #8873b3; }
.cor-bares { color: #3b9bd4; }
.cor-boates { color: #5f9fae; }
.cor-musica { color: #79b653; }
.cor-teatro { color: #b5ae39; }
.cor-museus { color: #ecd635; }
.cor-cinema { color: #d16636; }
.cor-ocupacoes { color: #d5363d; }
.cor-esportes { color: #de5e5f; }
.cor-carnaval { color: #e49186; }

/*******   Header   *******/
header {top: 0; left: 0; display: block; width: 100%; padding: 20px 25px; background-color: rgba(0,0,0,0.5); transition: all 1s ease; }
header nav { float: right; list-style: none }
header nav a { margin: 0 10px; }
header a { color: #FFF; font-size: 18px; text-transform: uppercase; font-family: "Century Gothic"; }
header a:hover { color: #FFF; text-decoration: none; }
header a.logo:hover { text-decoration: none; }
.sticky { z-index: 10; top: 0; opacity: 1; padding: 10px 25px; position: fixed!important; background: url('/images/background_grande.png'); }
.sticky a { color: #000; }

/*******   Principal   *******/
section#principal { width: 100%; top: 0; min-height: 400px; background: transparent; }
section#principal .logo-tipografia { text-align: center; }
section#principal img { width: 70%; margin-top: 30px; }
section#principal .texto-divulgacao h1 { font-weight: bold; margin-bottom: 25px; }
section#principal .texto-divulgacao p { font-size: 16px; }
section#principal .registrar-email { padding: 35px 0 30px 0; text-align: center; color: #FFF; }
section#principal .registrar-email input { color: #000; width: 270px; }
h3.titulo { font-weight: bold; font-family: "Century Gothic"; text-transform: uppercase; font-size: 16px; line-height: 1.8; margin: 30px auto 15px; }
section#botao-apoio { width: 100%; min-height: 100px; background-color: #AD1662; border-top: 4px solid #FF64B2; border-bottom: 4px solid #FF64B2; text-align: center; padding: 15px; }
section#botao-apoio h1 { font-size: 28px; text-decoration: none; color: #FFE415; text-transform: uppercase;  font-weight: bold; font-family: "Century Gothic"; margin: 0; }
section#botao-apoio .fa { color: #FBA9F0; }
section#botao-apoio button.btn-primary { margin-top: 10px; background-color: #5F1238; border-color: #630E38; }
section#botao-apoio button.btn-primary:hover { background-color: #B53475; border-color: #630E38; }
section#sobre { background: url('/images/background_grande_neg.png'); }
section#sobre  h3.titulo { color: #ECD635; border-bottom: 2px solid rgba(236,214,53,0.4); width: 47px; overflow: hidden; }
section#sobre .categorias-lista { text-align: center; padding: 25px 0; overflow: hidden; }
section#sobre .categorias-lista div { margin: 10px 0; }
section#sobre .categorias-lista h5 { margin: -45px; font-size: 65px;text-shadow: 2px 2px 2px rgba(150, 150, 150, 1); }
section#sobre .sobre-navegacao { text-align: center; font-size: 24px; padding-top: 25px; }
section#sobre .sobre-navegacao a { padding: 0 10px; color: #ECD635; text-decoration: none; }
section#sobre .sobre-navegacao a.ativo,
section#sobre .sobre-navegacao a:hover { padding: 5px 10px; color: #000; background-color: #ECD635; }
section#sobre .texto-sobre { font-size: 24px; color: #FFF; width: 100%; height: 370px; margin-top: 25px; }
section#curadores { width: 100%; padding: 0 0 25px 0; min-height: 100px; background-color: #4FC1E9; text-align: center; }
section#curadores  h3.titulo { border-bottom: 2px solid rgba(0,0,0,0.5); width: 55px; margin-bottom: 35px; }
section#curadores .lista-equipe { margin: 0 auto; width: 90%; overflow: hidden;  }
section#curadores .lista-equipe div {}
section#curadores figure { margin: 0; }
section#curadores figure img { vertical-align: middle; width: 150px; float: left; }
section#curadores figcaption { float: left; width: 215px; padding-left: 15px;}
section#curadores figcaption h4,
section#curadores figcaption p { text-align: left; }
section#curadores figcaption h4 { font-weight: bold; }
section#apoio { width: 100%; padding: 0 0 25px 0; min-height: 100px; background-color: #4FE98D; border-top: 4px solid #2A884F; text-align: center; }
section#apoio  h3.titulo { border-bottom: 2px solid rgba(0,0,0,0.5); width: 310px; margin-bottom: 35px; }
section#apoio p { font-size: 18px; }
section#apoio .item-apoio {  }
section#apoio .item-apoio h2 { font-weight: bold; text-decoration: underline; }
section#apoio .item-apoio h5 { font-weight: bold; }
section#apoio .item-apoio ul { list-style: none; padding: 0; height: 70px; }
section#contato { width: 100%; padding: 0 0 25px 0; min-height: 100px; background-color: #FBFBFB; border-top: 4px solid #C0C0C0; text-align: center; }
section#contato  h3.titulo { border-bottom: 2px solid rgba(0,0,0,0.5); width: 155px; margin-bottom: 35px; }
section#contato  .formulario-contato { margin: 0 auto; float: initial; }
section#contato  .formulario-contato textarea { height: 150px; }
section#contato  .formulario-contato button { float: right; }
footer { background: url('/images/background_grande.png'); overflow: hidden; padding-bottom: 25px;}
footer h4, footer h5 { color: #000; font-weight: bold; font-size: 16px; margin-top: 30px; }
footer h5 { margin-top: 30px; }