@media screen and (min-width:0px) and (max-width:700px) {
    header { text-align: center; float: left; transition: none; }
    header a { float: initial; font-size: 15px; }
    header  nav { display: none; }
    section#principal .registrar-email input { width: 100%; padding-left: 10px; }
    .sobre-navegacao a { display: block; }
    section#sobre .texto-sobre { height: auto; margin-bottom: 15px;}
    section#curadores figure img { float: initial; }
    section#curadores figcaption { width: auto; margin: 5px 0 35px 0; }
    section#curadores figcaption h4, section#curadores figcaption p { text-align: center; }
}

@media screen and (min-width:700px) and (max-width:900px) {
    header { text-align: center; float: left; }
    header a { float: initial; font-size: 18px; }
    header nav { padding-top: 10px; float: initial; }
    header nav a { margin: 0 15px; }
}
