<html>
<head>
    <title></title>
</head>
<body>
<p>
    Novo contato pelo site!
</p>
<p>
    Nome: {{ nome }} <br />
    E-mail: {{ email }} <br />
    Mensagem:
</p>
<p>{{ mensagem }}</p>
</body>
</html>